/ProyectoPrueba/build/
/clase1-Unidad2/dist/
/com_polinomio/nbproject/private/
/com_polinomio/build/
/practica_5/nbproject/private/
/com_polinomio/dist/
/practica_5/build/
/practica_5/dist/
/clase3_Unidad2/nbproject/private/
/clase3_Unidad2/build/
/BarraHerramientas/nbproject/private/
/BarraHerramientas/build/
/Unidad 1/Practica0_Unidad1/build/
/Unidad 1/Practica0_Unidad1/dist/
/Unidad 1/Practica0_Unidad1/nbproject/private/
/Unidad 1/Practica1_Unidad1/build/
/Unidad 1/Practica1_Unidad1/nbproject/private/
/Unidad 2/BarraHerramientas/build/
/Unidad 2/BarraHerramientas/nbproject/private/
/Unidad 2/ProyectoAplicado/dist/
/Unidad 2/ProyectoAplicado/build/
/Unidad 2/practica_5/build/
/Unidad 2/practica_5/dist/
/Unidad 2/practica_5/nbproject/private/
/Unidad 2/MVCConversor/build/
/BaseDeDatos/Interfaz_BD/nbproject/private/
/Unidad 2/com_polinomio/build/
/BaseDeDatos/Interfaz_BD/build/
/BaseDeDatos/Interfaz_BD/dist/
/Unidad 2/TAP2-3BarraHerramientasLosCuatroFantasticos/nbproject/private/
/BaseDeDatosDerby/practica_08/nbproject/private/
/BaseDeDatosDerby/practica_08/build/
/Unidad 4/practica_09/nbproject/private/
/Unidad 4/practica_09/build/
/Unidad 3/Hilos_1/nbproject/private/
/Unidad 3/Hilos_1/build/
/Proyecto/Interfaz/Ventana/nbproject/private/
/Proyecto/Interfaz/Ventana/build/
/Proyecto/Interfaz/VentanaPaletae/nbproject/private/
/Proyecto/Interfaz/VentanaPaletae/build/
/Proyecto/Interfaz/VentanaPaleta/nbproject/private/
/Proyecto/Interfaz/VentanaPaleta/build/
/Unidad 3/HiloSimple/nbproject/private/
/Unidad 3/HiloSimple/build/
/Unidad 3/practica_06/nbproject/private/
/Unidad 3/practica_06/build/
/Unidad 3/practica07/nbproject/private/
/Unidad 3/practica07/build/
/Interfaces/ParaProyectoTAP/nbproject/private/
/Interfaces/ParaProyectoTAP/build/
/Interfaces/ParaProyectoTAP/dist/